<div cdkDropListGroup class="d-flex justify-content-center page">
  <div class="container">
    <h2 class="container__title">Control</h2>

    <div class="list">
      <form (ngSubmit)="onSubmit()" #controlForm="ngForm">
        <mat-form-field>
          <mat-label>Task</mat-label>
          <textarea
            type="text"
            matInput
            placeholder="write your task here"
            [(ngModel)]="textarea"
            #task="ngModel"
            name="task"
            required
          ></textarea>
        </mat-form-field>
        <h3 class="priority__radio--title">Priority</h3>
        <mat-radio-group
          class="radio-group"
          [(ngModel)]="radio"
          name="priority"
          #priority="ngModel"
          required
        >
          <mat-radio-button value="high" class="priority__radio--high">
            High
          </mat-radio-button>
          <mat-radio-button value="med" class="priority__radio--med">
            Medium
          </mat-radio-button>
          <mat-radio-button value="low" class="priority__radio--low">
            Low
          </mat-radio-button>
        </mat-radio-group>
        <div class="button-group">
          <button
            mat-raised-button
            color="accent"
            type="submit"
            [disabled]="!controlForm.valid"
          >
            {{ isEditMode ? 'Save' : 'Add' }}
          </button>
          <button
            mat-raised-button
            color="warn"
            type="reset"
            (click)="onReset()"
          >
            {{ isEditMode ? 'Cancel' : 'Reset' }}
          </button>
        </div>
      </form>
      <p class="hint">(hint: click on item to edit)</p>
      <div
        class="trash__container"
        cdkDropList
        [cdkDropListData]="trash"
        (cdkDropListDropped)="drop($event)"
      >
        <div *ngIf="isDragging" class="trash__container--list">
          <span *ngIf="isDragging" class="trash__text">
            Drop here to Delete
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h2 class="container__title">Backlog</h2>

    <div
      cdkDropList
      [cdkDropListData]="backLog"
      class="list"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="box"
        *ngFor="let item of backLog; let i = index"
        [ngClass]="{
          high: item.priority === 'high',
          med: item.priority === 'med',
          low: item.priority === 'low'
        }"
        cdkDrag
        (cdkDragStarted)="dragging()"
        (cdkDragReleased)="released()"
        (click)="onEdit('backLog', item, i)"
      >
        {{ item.task }}
      </div>
    </div>
  </div>

  <div class="container">
    <h2 class="container__title">In progress</h2>

    <div
      cdkDropList
      [cdkDropListData]="inProgress"
      class="list"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="box"
        *ngFor="let item of inProgress; let i = index"
        [ngClass]="{
          high: item.priority === 'high',
          med: item.priority === 'med',
          low: item.priority === 'low'
        }"
        cdkDrag
        (cdkDragStarted)="dragging()"
        (cdkDragReleased)="released()"
        (click)="onEdit('inProgress', item, i)"
      >
        {{ item.task }}
      </div>
    </div>
  </div>

  <div class="container">
    <h2 class="container__title">Code review</h2>

    <div
      cdkDropList
      [cdkDropListData]="codeReview"
      class="list"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="box"
        *ngFor="let item of codeReview; let i = index"
        [ngClass]="{
          high: item.priority === 'high',
          med: item.priority === 'med',
          low: item.priority === 'low'
        }"
        cdkDrag
        (cdkDragStarted)="dragging()"
        (cdkDragReleased)="released()"
        (click)="onEdit('codeReview', item, i)"
      >
        {{ item.task }}
      </div>
    </div>
  </div>

  <div class="container">
    <h2 class="container__title">In test</h2>

    <div
      cdkDropList
      [cdkDropListData]="inTest"
      class="list"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="box"
        *ngFor="let item of inTest; let i = index"
        [ngClass]="{
          high: item.priority === 'high',
          med: item.priority === 'med',
          low: item.priority === 'low'
        }"
        cdkDrag
        (cdkDragStarted)="dragging()"
        (cdkDragReleased)="released()"
        (click)="onEdit('inTest', item, i)"
      >
        {{ item.task }}
      </div>
    </div>
  </div>

  <div class="container">
    <h2 class="container__title">Done</h2>

    <div
      cdkDropList
      [cdkDropListData]="done"
      class="list"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="box"
        *ngFor="let item of done; let i = index"
        [ngClass]="{
          high: item.priority === 'high',
          med: item.priority === 'med',
          low: item.priority === 'low'
        }"
        cdkDrag
        (cdkDragStarted)="dragging()"
        (cdkDragReleased)="released()"
        (click)="onEdit('done', item, i)"
      >
        {{ item.task }}
      </div>
    </div>
  </div>
</div>
