@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';


.page {
  background: linear-gradient(to bottom right, #00223e, #ffa17f);
  height: 100%;
}

.container {
  width: 300px;
  max-width: 100%;
  margin: 25px 1px;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}

.container__title {
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 10px;
}

mat-label {
  color: #fff;
}

mat-form-field {
  width: 100%;
  padding: 10px;
}

textarea {
  color: #fff;
  width: 100%;
}

.radio-group {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-left: 30px;
}

.priority__radio--title {
  text-align: center;
  color: #fff;
}

mat-radio-button {
  margin-bottom: 10px;
}

.priority__radio--high {
  color: #e01c26;
}

.priority__radio--med {
  color: #f88e36;
}

.priority__radio--low {
  color: #75dd44;
}

.button-group {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.hint {
  display: flex;
  justify-content: center;
  color: #fff;
  margin-top: 25px;
  opacity: .3;
}

.trash__container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
}

.trash__container--list {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  border: 6px dashed #b34747;
  background-color: #9e3b3b65;
}

.trash__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  color: #ffffff9f;
  font-size: 20px;
  font-weight: 500;
  z-index: 10;
}

.list {
  position: relative;
  height: 90%;
  border: solid 1px #474747;
  min-height: 60px;
  background: linear-gradient(to bottom right, #00223e5e, #ffa17f5e);
  border-radius: 4px;
  overflow: auto;
  display: block;
}

.box {
  margin: 20px;
  height: 5rem;
  max-height: 100px;
  padding: 20px 10px;
  border: solid 2px #ccc;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: co;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: #fff;
  font-size: 14px;
  cursor: grab;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: .2;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list.cdk-drop-list-dragging {
  cursor: grabbing;
}

.high {
  border-color: #e01c26;
}

.med {
  border-color: #f88e36;
}

.low {
  border-color: #75dd44;
}
